<h1>Add New Event</h1>
<h4>Please provide the information we need to add your event to our list. Event despriptions must be 25 characters or more to be saved. Image uplod capability coming soon- Please leave blank for now and a default image will be used.</h4>
<%= render 'form' %>