<h1>Add New Event</h1>
<h4>Please provide the information we need to add your event to our list. Image upload capability coming soon- Please leave blank for now, and a default image will be used. Make sure that your event happens in the future, not the past. I'm still looking for a Time-Travel gem.</h4>
<%= render 'form' %>