<!-- <!-- Header and Nav -->


  <!-- End Header and Nav -->


  <!-- First Band (Image) -->
<br>
  <div class="row">
    <div class="large-12 columns">
      <img src="http://pnthr.com/wp-content/uploads/2013/08/github.gif">

      <hr>
    </div>
  </div>
  <!-- Second Band (Image Left with Text) -->


  <!-- Third Band (Image Right with Text) -->

  <div class="row">
    <div class="large-12 columns">
      <h4>Welcome to GeekSocial.</h4>

      <p>So you've found your way to GeekSocial, eh? Well good on you. Thanks for swinging by. I made this site because I wanted a place to show off Rails web design.</p>

      <p>Feel free to create an account and look around at the various (fictitious) events, if you'd like. I'm looking for a jr Rails developer job, so have a look at the "Hire Me" page if you'd like. Take care!</p>

    </div>
    <!-- <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[img]">
    </div> -->
  </div>
