<!-- <!-- Header and Nav -->


  <!-- End Header and Nav -->


  <!-- First Band (Image) -->
<br>
  <div class="row">
    <div class="large-12 columns">
      <img src="http://pnthr.com/wp-content/uploads/2013/08/github.gif">

      <hr>
    </div>
  </div>
  <!-- Second Band (Image Left with Text) -->


  <!-- Third Band (Image Right with Text) -->

  <div class="row">
    <div class="large-12 columns">
      <h4>Welcome to GeekSocial.</h4>

      <p>So you've found your way to GeekSocial, eh? Great! Thanks for swinging by. I made this site because I wanted a place to show off Rails web design.</p>

      <p>The landing page (<%= link_to "with the MacBook and iPhone on the wooden table", root_path %>) was created with a Twitter Bootstrap CDN- I overrode the application html and css files in the controller for that particular static page and imported the Bootstrap stylesheets with an html link- It turns out Google Fonts in Rails 4 don't like to render once deployed to Heroku when imported through @importcss. From there I built a minimalistic landing page with a creative commons background image from Unsplash. This fully responsive demonstration Ruby on Rails app features complete user authentication functionality via the Devise Rails gem. I designed and built the site in Rails 4 with Ruby v1.9.3, while under version control at GitHub. The rest of the front-end (Sans the Bootstrap landing page) was built on the Foundation 4 framework. Google Analytics is installed and reporting. Typography comes courtesy of Google Fonts- Specifically, the 'Ubuntu' font for the headers and 'Dosis' for the body text. </p>

    </div>
    <!-- <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[img]">
    </div> -->
  </div>
