<!-- <!-- Header and Nav -->


  <!-- End Header and Nav -->


  <!-- First Band (Image) -->
<br>
  <div class="row">
    <div class="large-12 columns">
      <img src="http://pnthr.com/wp-content/uploads/2013/08/github.gif">

      <hr>
    </div>
  </div>
  <!-- Second Band (Image Left with Text) -->


  <!-- Third Band (Image Right with Text) -->

  <div class="row">
    <div class="large-12 columns">
      <h4>Welcome to GeekSocial.</h4>

      <p>So you've found your way to GeekSocial, eh? Great! Thanks for swinging by. I made this site because I wanted a place to show off Rails web design. This particular app has an Event model and a Registration model, with a User model courtesy of Devise. The Event model has_many :registrations and the Registration model belongs_to :event. Most of the logic takes place in the Event controller, with a few methods in the Events Helper as well.</p>

      <%= link_to image_tag("lettert.png"), {:class => 't'} %>
      <br>
      <br>
      <p>he landing page (<%= link_to "with the MacBook and iPhone on the wooden table", root_path %>) was created with a Twitter Bootstrap CDN- I overrode the application html and css files in the controller for that particular static page and imported the Bootstrap stylesheets thanks to the CDN. From there I built a minimalistic landing page with a creative commons background image from Unsplash. This fully responsive demonstration Ruby on Rails app features complete user authentication functionality via the Devise Rails gem. I designed and built the site in Rails 4 with Ruby v1.9.3, while under version control at GitHub. The rest of the front-end (Sans the Bootstrap landing page) was built on the Foundation 4 framework. Google Analytics is installed and reporting <a href="http://railsapps.github.io/rails-google-analytics.html">thanks to the Rails 4 Turbolinks workaround.</a> Typography comes courtesy of Google Fonts- Specifically, the 'Ubuntu' font for the headers and 'Dosis' for the body text. They had to be called through an HTML link in the _header partial because apparently Google Fonts in Rails 4 don't like to render once deployed to Heroku when imported through @importcss.</p>

      <p>Again, thanks for stopping by, and feel free to create an account to see the site in its entiretly.</p>

    </div>
  </div>
