<h1>Hire me</h1>
<h5>Hover over the image or swipe on a mobile device.</h5>

<div class="card">
  <div class="container">
    <div class="front">
      <img src="http://pnthr.com/wp-content/uploads/2013/09/jwprofilepic.jpg" />
    </div>

    <div class="back">
      <h5>Hi. Thanks for checking out my site.</h5>
      <p>I'm currently visiting family down south, but will be looking to start a Full Stack jr Ruby on Rails developer job back in Boston towards the end of October. I'd love to hear more about your company and technology stack. I have a passion for the web and love to make beautiful and solid technology products.</p>
      <p>You can contact me <a href="mailto: Jesse.Waites@Gmail.com">here at my email address</a>, and you can <a href="https://www.dropbox.com/s/29rttrgrolyubo0/J_Waites_Rails_Resume.pdf">download my resume' here.</a></p>
      <%= image_tag("thanks2.png") %>
    </div>
  </div>
</div>
