<h1>Hire me</h1>
<h5>Hover over the image or swipe on a mobile device.</h5>

<div class="card">
  <div class="container">
    <div class="front">
      <img src="http://pnthr.com/wp-content/uploads/2013/09/jwprofilepic.jpg" />
    </div>

    <div class="back">
      <h5>Hi. Thanks for checking out my site.</h5>
      <p>I'm currently visiting family down south, but will be looking for a Full Stack jr Ruby on Rails developer job back in Boston towards the end of October. I'd love to hear more about your company and technology stack in the interim, and to tell you more about myself and my experiences.</p>
      <p>I have a passion for the web and love to make beautiful and solid technology products.</p>
      <p>I have been working with apps and the web for years and am very happy to have found the Rails framework. Once I have an even better grasp on Rails, I look forward to learning Ember JS and integrating that into my Rails apps.</p>
      <p>You can contact me at Jesse Waites at Gmail dot Com, and you can <a href="https://www.dropbox.com/s/7m7cww9wtqfqlcm/JesseWaitesRailsResume.pdf">download my resume' here.</a></p>
      <%= image_tag("thanks2.png") %>
    </div>
  </div>
</div>
