<h1>Hire me</h1>
<h5>Hover over the image or swipe on a mobile device.</h5>

<div class="card">
  <div class="container">
    <div class="front">
      <img src="http://pnthr.com/wp-content/uploads/2013/09/jwprofilepic.jpg" />
    </div>

    <div class="back">
      <h5>Hi. Thanks for checking out my Rails demo site.</h5>
      <p>I'm currently visiting family down south, but will be looking to start a Full Stack jr Ruby on Rails developer job back in Boston towards the end of October. I absolutely love the Rails framework and will be making a long career out of it~ I have a passion for the web, love to make beautiful and solid technology products, and will endevour every day to be the best developer that I can be.</p>
      <p><a href="http://shrouded-ravine-2465.herokuapp.com/">Click here to see my Reddit on Rails 4/Foundation Demo</a>, and <a href="http://guarded-ravine-6386.herokuapp.com/">click here to see my Social Network on Rails and Bootstrap.</a> You can contact me <a href="mailto: Jesse.Waites@Gmail.com">here at my email address</a>, and you can <a href="https://www.dropbox.com/s/1wrxjg0dxt19xo5/JWaitesRailsResume.pdf">download my resume here.</a></p>
      <%= image_tag("thanks2.png") %>
    </div>
  </div>
</div>
