<h1>Hire me</h1>
<p>Hover over the image or swipe on a mobile device.</p>

<div class="card">
  <div class="container">
    <div class="front">
      <img src="http://pnthr.com/wp-content/uploads/2013/09/jwprofilepic.jpg" />
    </div>

    <div class="back">
      <h5>Hi. Thanks for checking out my site.</h5>
      <p>I'm currently visiting family down south, but will be looking for a Full Stack jr Ruby on Rails developer job back in Boston towards the end of October. I'd love to hear more about your company and technology stack in the interim.</p>
      <p>I have a passion for technology and love to make beautiful and solid technology products.</p>
      <p>I have been working with apps and the web for years and am very happy to have found the Rails framework. Once I have a better grasp on Rails, I look forward to learning Ember JS and integrating that into my Rails apps.</p>
      <p>You can contact me at Jesse Waites at Gmail dot Com.</p>
    </div>
  </div>
</div>
